* {
  background-color: black;
  box-sizing: border-box;
}
.row {
  height: 150px;
  border: 3px solid red;
}
.col {
  border: 2px solid yellow;
  height: 100%;
  width: 33.33%;
  float: left;
}
.col1 {
  border: 2px solid hotpink;
  height: 100%;
  width: 50%;
  float: left;
}
.row2 {
  border: 2px solid whitesmoke;
  height: 50%;
}
.col2 {
  border: 2px solid navajowhite;
  height: 100%;
  width: 33.33%;
  float: left;
}
.row3 {
  border: 2px solid orchid;
  height: 50%;
}
.row4 {
  border: 2px solid tomato;
  height: 50%;
}
.row5 {
  border: 2px solid purple;
  height: 33.33%;
}
.row6 {
  border: 2px solid lime;
  height: 50%;
}
.row7 {
  border: 2px solid peru;
  height: 50%;
}
